main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 6em);
    padding-bottom: 1em;
    position: relative;
}

main #fleche {
    top: 5%;
    right: 1%;
}

main h1 {
    color: #9290e7;
    font-size: 5em;
    padding: 0.1em 1em;
    margin: 0;
    border-bottom: 5px solid #9290e7;
    width: fit-content;
    font-family: Impact, serif;
}

main #contact {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 2em 0;
}

main #contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9290e7;
    padding: 1em 2em 1em 3em ;
    border-radius: 20px;
    margin: 0;
    width: 25%;
    font-weight: bold;
    color: #15129d;
}

main #contact ul li {
    font-size: 1.5em;
}

main #contact ul li i {
    font-weight: normal;
    font-style: normal;
    color: #040333;
}

main #contact ul li a {
    color: #0f0bf8;
    font-style: italic;
    transition: color ease-in-out 0.1s;
}

main #contact ul li a:hover {
    color: #15129d;
}

main #contact #contactImg {
    height: 7em;
    opacity: 85%;
}

main #formMessage {
    display: flex;
    align-items: center;
}

main #formMessage img {
    height: 4em;
}

main #formMessage p {
    color: #9290e7;
    font-size: 2.5em;
    margin: 0 0.8em;
}

main #formMessage p + img {
    transform: scaleX(-1);
}

main form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 50%;
    margin-top: 2%;
}

main form .textField {
    height: 2em;
    width: 100%;
    border-radius: 20px;
    border-color: #15129d;
    background-color: #040350;
    color: #e8e8f3;
    padding: 0 1em;
    font-size: large;
}

main form textarea {
    resize: none;
    min-height: 5em;
    max-height: 15em;
    width: 100%;
    border-radius: 20px;
    padding: 0.25em 1em;
    flex-grow: 1;
    border-color: #15129d;
    background-color: #040350;
    color: #e8e8f3;
    font-size: large;
}

main form #submit {
    width: 15%;
    height: 4em;
    border-radius: 20px;
    color: #cfcfff;
    font-weight: bold;
    font-size: large;
    border-color: #15129d;
    background-color: #15129d;
}

main form #submit:hover {
    cursor: pointer;
}

main #imageBasGauche {
    bottom: -1em;
    left: 0;
}