body {
    margin: 0;
    background-color: #040333;
    font-family: Arial, serif;
}

header {
    background-color: #EAE9C5;
    height: 4em;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

header #header {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 80%;
    border-bottom: 1px solid #040333;
    padding: 0 1.5em;
    margin-bottom: 0.5em;
}

header #header p a {
    text-decoration: none;
    color: #040333;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    transition: color ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

header #header p a:hover {
    background-color: #040333;
    color: #EAE9C5;
}

header #header p:first-child {
    flex-grow: 1;
}

main {
    margin-top: 4em;
}