ErrorDocument 404 /
ErrorDocument 403 /
Options -Indexes

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine on
    RewriteBase /
    RewriteRule ^$ accueil/accueil.html [L]
    RewriteRule ^portfolio$ sitePortfolio/aProposDeMoi/aProposDeMoi.php [L]
</IfModule>
