ErrorDocument 404 /
ErrorDocument 403 /
Options -Indexes

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine on
    RewriteCond %{HTTP_HOST} !^localhost$ [NC]
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteBase /
    RewriteRule ^$ accueil/accueil.html [L]
    RewriteRule ^portfolio$ sitePortfolio/aProposDeMoi/aProposDeMoi.php [L]
    RewriteRule ^portfolio/contact$ sitePortfolio/contact/contact.php [L]
    RewriteRule ^portfolio/projets$ sitePortfolio/projets/projets.php [L]
</IfModule>
