body {
    margin: 0;
    background-color: #040333;
    font-family: Arial, serif;
}

header {
    background-color: #040333;
    height: 4em;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

header #header {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 80%;
    border-bottom: 1px solid #9290e7;
    padding: 0 1.5em;
}

header #header p a {
    text-decoration: none;
    color: #9290e7;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    transition: color ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

header #header p a:hover {
    background-color: #040333;
    color: #e8e8f3;
}

header #header p:first-child {
    flex-grow: 1;
}

header .modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

header .modal {
    background: #9290e7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
    animation: fadeIn 0.3s ease-out;
}

header .modal h2 {
    color: #040333;
}

@keyframes fadeIn {
    from { transform: scale(0.9); opacity: 0;}
    to { transform: scale(1); opacity: 1; }
}

header .modal input {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

header .modal button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #040333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

header .modal button:hover {
    background: #0056b3;
}

header .error {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.9em;
}

main {
    margin-top: 4em;
}