main {
    padding-top: 1em;
}

main h1 {
    color: #e8e8f3;
    text-decoration: underline;
    font-size: 7em;
    margin: 0 0 0.5em 1.8em;
    width: fit-content;
    font-family: Impact, serif;
}

main #projets {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main #projets .projet {
    background-color: #9290e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 5em;
}

main #projets .projet div.projetDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 31em);
    align-self: stretch;
    font-size: 1.5em;
}

main #projets .projet div.projetDescription .title {
    margin: 0 1em;
    background-color: #040333;
    border-radius: 20px;
    padding: 0.25em 0.5em;
    box-shadow: #040333 2px 2px 3px;
    transition: background-color ease-in-out 0.3s;
}

main #projets .projet div.projetDescription .title a {
    font-family: Impact, serif;
    font-size: 2em;
    color: #e8e8f3;
    transition: color ease-in-out 0.3s;
}

main #projets .projet div.projetDescription .title:hover {
    background-color: #e8e8f3;
}

main #projets .projet div.projetDescription .title:hover a {
    color: #040333;
}

main #projets .projet div.projetDescription p.description {
    flex-grow: 1;
    color: #040333;
}

main #projets .projet .projetImagesEtVideos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30em;
    height: 15em;
}

main #projets .projet .projetImagesEtVideos video, main #projets .projet .projetImagesEtVideos img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}