main {
    padding-top: 1em;
}

main h1 {
    color: #9290e7;
    text-decoration: underline;
    font-size: 7em;
    margin: 0 0 0.5em 1.8em;
    width: fit-content;
    font-family: Impact, serif;
}

main #projets {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

main #projets .projet {
    background-color: #9290e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 5em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 0 4em;
    border-radius: 1000px;
}

main #projets .projet:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

main #projets .projet div.projetDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 31em);
    align-self: stretch;
    font-size: 1.5em;
}

main #projets a.projet {
    text-decoration: none;
}

main #projets .projet div.projetDescription .title {
    margin: 0 1em;
    background-color: #040333;
    border-radius: 20px;
    padding: 0.25em 0.5em;
    box-shadow: #040333 2px 2px 3px;
    font-family: Impact, serif;
    font-size: 2em;
    color: #e8e8f3;
}

main #projets .projet div.projetDescription .enSavoirPlus {
    display: flex;
    align-items: center;
    gap: 0.3em;
    color: #040333;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: auto;
    padding-top: 0.8em;
    align-self: flex-end;
    text-decoration: underline;
}

main #projets .projet div.projetDescription .enSavoirPlus svg {
    width: 1.1em;
    height: 1.1em;
    transition: transform 0.2s ease;
}

main #projets .projet:hover .enSavoirPlus svg {
    transform: translateX(5px);
}

main #projets .projet div.projetDescription p.description {
    flex-grow: 1;
    color: #040333;
}

main #projets .projet .projetImagesEtVideos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30em;
    height: 15em;
}

main #projets .projet .projetImagesEtVideos video, main #projets .projet .projetImagesEtVideos img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}