main {
    padding-top: 1em;
}

main .partie {
    min-height: calc(100vh - 4em);
    position: relative;
}

main .titre {
    color: #9290e7;
    text-decoration: underline;
    font-size: 7em;
    margin: 0 0 0 1.8em;
    width: fit-content;
    font-family: Impact, serif;
}

main #presentation {
    display: flex;
}

main #presentation #empreinteDigitale {
    height: 35%;
    rotate: 0deg;
    top: 1%;
    right: 1%;
}

main #presentation #presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

main #presentation #presentation-text h1 {
    align-self: start;
}

main #presentation #presentation-text p {
    color: #e8e8f3;
    font-size: 2em;
    width: 70%;
    border: 20px solid #040333;
    border-image: url("/sitePortfolio/aProposDeMoi/borderPresentation.png") 50 / 1 / 0 round;
}

main #presentation #selfie {
    height: calc(100vh - 15em);
    margin: 4% 10% 0 0;
    border-radius: 100px;
}

main .circuitElectric {
    height: 25%;
    left: 0;
}

main #presentation .circuitElectric {
    bottom: 0;
}

main #mesExperiences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #mesExperiences .circuitElectric {
    transform: scaleY(-1);
    top: 0;
}

main #mesExperiences #flecheMesExperiences {
    right: 3%;
    top: 5%;
    rotate: 180deg;
}

main #mesExperiences h1 {
    align-self: start;
}

main #mesExperiences ul {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: space-between;
    gap: 3vh 3vw;
    padding: 0 7%;
}

main #mesExperiences ul li {
    display: flex;
    gap: 1em;
    color: #e8e8f3;
    width: 32vw;
}

main #mesExperiences ul li .exempleText h2 {
    font-size: 3em;
    margin: 0.5em 0 0 0;
    color: #9290e7;
}

main #mesExperiences ul li .exempleText p {
    font-size: 1.5em;
    margin: 0.5em 0;
}

main #mesExperiences ul li .exempleText a {
    color: #0f0bf8;
    transition: color ease-in-out 0.1s;
}

main #mesExperiences ul li .exempleText a:hover {
    color: #9290e7;
}

main #mesExperiences ul li img {
    height: 4em;
    margin-top: 1em;
}

main #mesExperiences #engrenage {
    left: 1%;
    bottom: 3%;
    opacity: 70%;
}

main #mesOutils #imageLocigielsTravail {
    top: 0;
    right: 0;
}


main #mesOutils #flecheMesLangagges {
    top: 30%;
    left: 4%;
    width: 8em;
}

main #mesOutils #ordinateurLogicielTravail {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 85%;
}

main #mesOutils .langage {
    position: absolute;
    display: flex;
    align-items: center;
    height: 10em;
    padding: 1em 3em;
    border: 10px double #9290e7;
    border-radius: 1000px;
    text-align: center;
    transform: translateX(-50%)
                translateY(-50%);
}

main #mesOutils .titre + .langage {
    bottom: -8%;
    left: 20%;
}

main #mesOutils .titre + .langage + .langage {
    bottom: 22.406%;
    left: 28.787%;
}

main #mesOutils .titre + .langage + .langage + .langage {
    bottom: 35%;
    left: 50%;;
}

main #mesOutils .titre + .langage + .langage + .langage + .langage {
    bottom: 22.406%;
    left: 71.213%;
}

main #mesOutils .titre + .langage + .langage + .langage + .langage + .langage {
    bottom: -8%;
    left: 80%;
}

main #mesOutils .langage img {
    max-width: 15em;
    max-height: 10em;
}