main .partie {
    min-height: 100vh;
}

main .titre {
    color: #EAE9C5;
    text-decoration: underline;
    font-size: 7em;
    margin: 0 0 0.5em 1.8em;
    width: fit-content;
}

main .imageFond {
    position: absolute;
    z-index: -1;
}

main #presentation {
    min-height: calc(100vh - 5em);
    display: flex;
    position: relative;
}

main #presentation #presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    position: relative;
}

main #presentation #presentation-text h1 {
    align-self: start;
}

main #presentation #presentation-text #empreinteDigitale {
    height: 13em;
    rotate: 0deg;
    top: 3%;
    right: 4%;
}

main #presentation #presentation-text p {
    color: #6F84D1;
    font-size: 2em;
    width: 70%;
    border: 20px solid #040333;
    border-image: url("/sitePortfolio/aProposDeMoi/borderPresentation.png") 50 / 1 / 0 round;
}

main #presentation #selfie {
    height: calc(100vh - 5em);
}

main .circuitElectric {
    height: 13em;
    left: 0;
}

main #presentation .circuitElectric {
    bottom: 0;
}

main #mesExperiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main #mesExperiences .circuitElectric {
    rotate: 90deg;
    top: 0;
}

main #mesExperiences #fleche {
    right: 3%;
    top: 5%;
    rotate: 180deg;
}

main #mesExperiences h1 {
    align-self: start;
}

main #mesExperiences ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
    padding: 0 5%;
}

main #mesExperiences ul li {
    display: flex;
    gap: 1em;
    color: #EAE9C5;
    width: 40%;
}

main #mesExperiences ul li .exempleText h2 {
    font-size: 3em;
}

main #mesExperiences ul li .exempleText p {
    font-size: 1.5em;
}

main #mesExperiences ul li img {
    height: 4em;
    margin-top: 2em;
}

main #mesExperiences #engrenage {
    left: 1%;
    bottom: 3%;
}